<div class="scene">
    <svg id="links" width="100%" height="100%" fill="transparent" stroke="#8d6c9f" stroke-width="2">
        <path id="vic-swc" d="M92 230 L92 270 L452 270 L452 230" />
        <path id="srv-swc" d="M364 182 L420 182" />
        <path id="atk-swc" d="M452 112 L452 150" />
        <path id="swc-rtr" d="M484 182 L540 182" />
    </svg>
    <span class="actor" id="attacker">
        <img class="icon" src="img/icons8-hacker-64.png">
        <span class="name">Attacker</span>
    </span>
    <span class="actor" id="victim">
        <img class="icon" src="img/icons8-windows-client-64.png">
        <span class="name">Victim</span>
    </span>
    <span class="actor" id="server">
        <img class="icon" src="img/icons8-server-64.png">
        <span class="name">Server</span>
    </span>
    <span class="actor" id="switch">
        <img class="icon" src="img/icons8-switch-64.png">
        <span class="name">Switch</span>
    </span>
    <span class="actor" id="router">
        <img class="icon" src="img/icons8-router-64.png">
        <span class="name">Router</span>
    </span>
    <svg width="100%" height="100%">
        <g id="dlg-victim">
            <rect x="82" y="70" width="183" height="35" fill="#faefde" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M92 150 L92 105 L82 105 L82 70 L265 70 L265 105 L96 105"></path>
            <text x="90" y="92" fill="#8d6c9f">Where is server (10.0.0.1)?</text>
        </g>
        <g id="dlg-victim-1">
            <rect x="82" y="70" width="203" height="35" fill="#faefde" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M92 150 L92 105 L82 105 L82 70 L285 70 L285 105 L96 105"></path>
            <text x="90" y="92" fill="#8d6c9f">Hi, server at 11:22:33:44:55:AA!</text>
        </g>
        <g id="dlg-victim-2">
            <rect x="82" y="70" width="203" height="35" fill="#ec7798" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M92 150 L92 105 L82 105 L82 70 L285 70 L285 105 L96 105"></path>
            <text x="90" y="92" fill="#333">Hi, server at 11:22:33:44:55:BB!</text>
        </g>
        <g id="dlg-server">
            <rect x="322" y="70" width="160" height="35" fill="#faefde" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M332 150 L332 105 L322 105 L322 70 L482 70 L482 105 L336 105"></path>
            <text x="330" y="92" fill="#8d6c9f">I'm at 11:22:33:44:55:AA.</text>
        </g>
        <g id="dlg-server-1">
            <rect x="152" y="90" width="160" height="35" fill="#faefde" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M332 150 L332 105 L312 105 L312 90 L152 90 L152 125 L312 125 L312 110"></path>
            <text x="160" y="112" fill="#8d6c9f">I'm at 11:22:33:44:55:AA.</text>
        </g>
        <g id="dlg-attacker">
            <rect height="35" fill="#faefde" y="40" width="195" x="182" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M415 54 L377 54 L377 40 L182 40 L182 75 L377 75 L377 60" />
            <text fill="#8d6c9f" y="62" x="190">Server's at 11:22:33:44:55:BB.</text>
        </g>
        <g id="dlg-attacker-1">
            <rect height="35" fill="#faefde" y="40" width="137" x="240" />
            <path fill="transparent" stroke="#8d6c9f" stroke-width="2" d="M415 54 L377 54 L377 40 L240 40 L240 75 L377 75 L377 60" />
            <text fill="#8d6c9f" y="62" x="248">Attack succeeded!</text>
        </g>
    </svg>
    <span id="arp-request" class="packet">ARP Request</span>
    <span id="arp-request-1" class="packet">ARP Request</span>
    <span id="arp-response" class="packet">ARP Response</span>
    <span id="arp-response-1" class="packet bad-packet">ARP Response</span>
    <span id="data-1" class="packet">Data</span>
    <span id="data-2" class="packet">Data</span>
    <span id="data-3" class="packet">Data</span>
    <span class="splash" id="splash-1">
        <h2>ARP Cache Poisoning</h2>
    </span>
    <span class="splash" id="splash-2">
        <h2>When there is no attack...</h2>
    </span>
    <span class="splash" id="splash-3">
        <h2>When there is an ARP cache poisoning attack...</h2>
    </span>
</div>