#victim {
    top: 150px;
    left: 60px;
}

#attacker {
    top: 30px;
    left: 420px;
}

#server {
    top: 150px;
    left: 300px;
}

#switch {
    top: 150px;
    left: 420px;
}

#router {
    top: 150px;
    left: 540px;
}

#arp-request, #arp-request-1 {
    top: -8px;
    left: -29px;
}

#arp-response, #arp-response-1 {
    top: -8px;
    left: -36px;
}

#arp-response-1 {
    background: #ec7798 !important;
}

#data-1, #data-2, #data-3 {
    top: -11px;
    left: -13px;
}