svg {
    position: absolute;
    top: 0;
    left: 0;
}

#victim {
    top: 150px;
    left: 60px;
}

#attacker {
    top: 30px;
    left: 420px;
}

#server {
    top: 150px;
    left: 300px;
}

#switch {
    top: 150px;
    left: 420px;
}

#router {
    top: 150px;
    left: 540px;
}

.packet {
    border: 2px solid #8d6c9f;
    background: #faefde;
    font-size: 0.6rem;
    padding: 2px;
    position: absolute;
    color: #333;
}

#arp-request, #arp-request-1 {
    top: -8px;
    left: -29px;
}

#arp-response, #arp-response-1 {
    top: -8px;
    left: -36px;
}

#arp-response-1 {
    background: #ec7798;
}

#data-1, #data-2, #data-3 {
    top: -11px;
    left: -13px;
}