<div class="scene">
    <svg id="links" width="100%" height="100%" fill="transparent" stroke="#8d6c9f" stroke-width="2">
        <svg id="links" width="100%" height="100%" fill="transparent" stroke="#8d6c9f" stroke-width="2">
            <path id="usr-int" d="M162 100 L225 140"></path>
            <path id="atk-int" d="M158 220 L224 180"></path>
            <path id="int-fwl" d="M280 160 L350 160"></path>
            <path id="fwl-srv" d="M420 180 L486 220"></path>
            <path id="fwl-nid" d="M415 150 L480 100"></path>
        </svg>
    </svg>
    <span class="actor" id="user">
        <img class="icon" src="img/icons8-female-user-64.png">
        <span class="name">User</span>
    </span>
    <span class="actor" id="attacker">
        <img class="icon" src="img/icons8-hacker-64.png">
        <span class="name">Attacker</span>
    </span>
    <span class="actor" id="internet">
        <img class="icon" src="img/icons8-globe-64.png">
        <span class="name">Internet</span>
    </span>
    <span class="actor" id="firewall">
        <img class="icon" src="img/icons8-firewall-64.png">
        <span class="name">Firewall</span>
    </span>
    <span class="actor" id="server">
        <img class="icon" src="img/icons8-server-64.png">
        <span class="name">Server</span>
    </span>
    <span class="actor" id="nids">
        <img class="icon" src="img/icons8-radar-64.png">
        <span class="name">NIDS</span>
    </span>
    <span id="nids-magnify-border"></span>
    <div id="nids-magnify">
        <svg id="links" width="100%" height="100%" fill="transparent" stroke="#8d6c9f" stroke-width="2">
            <path id="snf-pcr" d="M144 86 L206 86"></path>
            <path id="pcr-dtr" d="M275 86 L326 86"></path>
            <path id="dtr-rul" d="M360 133 L360 166"></path>
            <path id="dtr-log" d="M394 86 L450 86"></path>
            <path id="dtr-alt" d="M394 115.86666666666666 L450 168.13333333333333"></path>
        </svg>
        <span class="actor" id="sniffer">
            <img class="icon" src="img/icons8-filter-64.png">
            <span class="name">Sniffer</span>
        </span>
        <span class="actor" id="processor">
            <img class="icon" src="img/icons8-processor-64.png">
            <span class="name">Processors</span>
        </span>
        <span class="actor" id="detector">
            <img class="icon" src="img/icons8-target-64.png">
            <span class="name">Detector</span>
        </span>
        <span class="actor" id="rules">
            <img class="icon" src="img/icons8-rules-64.png">
            <span class="name">Rules</span>
        </span>
        <span class="actor" id="logs">
            <img class="icon" src="img/icons8-index-64.png">
            <span class="name">Logs</span>
        </span>
        <span class="actor" id="alert">
            <img class="icon" src="img/icons8-alarm-64.png">
            <span class="name">Alert</span>
        </span>
        <span id="packet-7" class="packet">Packet</span>
        <span id="packet-8" class="packet">Packet</span>
        <span id="packet-9" class="packet">Packet</span>
        <span id="bad-packet-7" class="packet bad-packet">Packet</span>
        <span id="bad-packet-8" class="packet bad-packet">Packet</span>
        <span id="bad-packet-9" class="packet bad-packet">Packet</span>
        <span id="signature-7" class="packet signature">Signature</span>
        <span id="signature-8" class="packet signature">Signature</span>
        <span id="signature-9" class="packet signature">Signature</span>
        <span id="bad-signature-7" class="packet bad-packet signature">Signature</span>
        <span id="bad-signature-8" class="packet bad-packet signature">Signature</span>
        <span id="bad-signature-9" class="packet bad-packet signature">Signature</span>
        <span id="rule-1" class="packet rule">Rule</span>
        <span id="rule-2" class="packet rule">Rule</span>
    </div>
    <span id="packet-1" class="packet">Packet</span>
    <span id="packet-2" class="packet">Packet</span>
    <span id="packet-3" class="packet">Packet</span>
    <span id="packet-4" class="packet">Packet</span>
    <span id="packet-5" class="packet">Packet</span>
    <span id="packet-6" class="packet">Packet</span>
    <span id="bad-packet-1" class="packet bad-packet">Packet</span>
    <span id="bad-packet-2" class="packet bad-packet">Packet</span>
    <span id="bad-packet-3" class="packet bad-packet">Packet</span>
    <span id="bad-packet-4" class="packet bad-packet">Packet</span>
    <span id="bad-packet-5" class="packet bad-packet">Packet</span>
    <span id="bad-packet-6" class="packet bad-packet">Packet</span>
</div>