svg {
    position: absolute;
    top: 0;
    left: 0;
}

#hand-cursor {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
}

#hacker {
    top: calc(30% - 32px);
    left: calc(20% - 32px);
}

#victim {
    top: calc(70% - 32px);
    left: calc(20% - 32px);
}

#internet {
    top: calc(50% - 32px);
    left: calc(40% - 32px);
}

#server {
    top: calc(70% - 32px);
    left: calc(60% - 32px);
}

#database {
    top: calc(70% - 32px);
    left: calc(80% - 32px);
}

#malisvr {
    top: calc(30% - 32px);
    left: calc(70% - 32px);
}

.broswer {
    margin: 20px 20px 0;
    border-radius: 4px 4px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f2f2f2;
}

.broswer .actionbar {
    padding: 5px 10px;
    display: flex;
}

.broswer .actionbar .icon {
    width: 24px;
    height: 24px;
}

.broswer .actionbar .url {
    background: white;
    padding: 4px 8px;
    font-size: 0.7rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    flex: 1 1;
    margin-left: 10px;
}