<div class="scene" id="scene-1">
    <svg id="links" width="100%" height="100%" fill="transparent" stroke="#8d6c9f" stroke-width="2">
        <path id="hkr-www" d="M161 115 L224 156" />
        <path id="vic-www" d="M161 225 L226 173" />
        <path id="www-srv" d="M285 174 L355 226" />
        <path id="srv-dtb" d="M413 228 L484 227" />
        <path id="www-msv" d="M287 153 L355 100 L419 100" />
    </svg>
    <span class="actor" id="hacker">
        <img class="icon" src="img/icons8-hacker-64.png">
        <span class="name">Hacker</span>
    </span>
    <span class="actor" id="victim">
        <img class="icon" src="img/icons8-female-user-64.png">
        <span class="name">Victim</span>
    </span>
    <span class="actor" id="server">
        <img class="icon" src="img/icons8-server-64.png">
        <span class="name">Server</span>
    </span>
    <span class="actor" id="internet">
        <img class="icon" src="img/icons8-website-64.png">
        <span class="name">Internet</span>
    </span>
    <span class="actor" id="database">
        <img class="icon" src="img/icons8-database-64.png">
        <span class="name">Database</span>
    </span>
    <span class="actor" id="malisvr">
        <img class="icon" src="img/icons8-server-64.png">
        <img class="icon sub-icon" src="img/icons8-bug-64.png">
        <span class="name">Malicious<br>Server</span>
    </span>
    <img id="hand-cursor" src="img/icons8-hand-cursor-64.png">
    <span class="splash" id="splash-1">
        <h2>Cross-site Scripting</h2>
    </span>
    <div class="broswer" id="browser-1">
        <div class="actionbar">
            <img src="img/icons8-internet-explorer-64.png" class="icon">
        </div>
    </div>
</div>