body {
    background: #232323;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
}

#playground {
    position: relative;
    width: 640px;
    height: 320px;
    margin: 100px auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#playground .scene {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#playground .scene .actor {
    display: inline-block;
    position: absolute;
}

#playground .scene .actor .icon, #playground .scene .actor .name {
    display: block;
}

#playground .scene .actor .name {
    text-align: center;
    font-size: 0.8rem;
}

#playground .scene .actor .sub-icon {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
}

#playground .player {
    position: absolute;
    z-index: 1000;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 50px);
    transition: 0.2s ease-in-out;
}

#playground:hover .player {
    transform: translate(0, 0);
}

#playground .player .material-icons {
    font-size: inherit;
}

#playground .player button {
    position: relative;
    display: block;
    padding: 2px 6px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
    opacity: .8;
    line-height: 18px;
}

#playground .player button:disabled {
    opacity: 0.4;
}

#playground .player button:hover:not(:disabled) {
    opacity: 1;
}

#playground .player input[type="range"] {
    flex: 1 1;
}

#playground .player .duration {
    color: white;
    margin-right: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#playground .scene svg {
    position: absolute;
    top: 0;
    left: 0;
}

#playground .scene .splash {
    display: flex;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    align-items: center;
}

#playground .scene .splash h2 {
    flex: 1 1;
    text-align: center;
    color: #333;
    font-weight: 400;
}

#playground .scene .packet {
    border: 2px solid #8d6c9f;
    background: #faefde;
    font-size: 0.6rem;
    padding: 2px;
    position: absolute;
    color: #333;
}