<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" />
    <!-- build:css css/index.css -->
    <link rel="stylesheet" href="../common/global.css">
    <link rel="stylesheet" href="index.css">
    <!-- endbuild -->
</head>

<body>
    <div id="playground">
        <%- include(project_dir + '/index.ejs') %>
        <div class="player">
            <button class="play"><i class="material-icons">play_arrow</i></button>
            <button class="pause" disabled><i class="material-icons">pause</i></button>
            <button class="restart"><i class="material-icons">replay</i></button>
            <input class="progress" step="2" min="0" max="100" value="0" type="range">
            <span class="duration">--:--</span>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- build:js js/index.js -->
    <script src="../common/global.js"></script>
    <script src="index.js"></script>
    <!-- endbuild -->
</body>

</html>